upstream my-app {
  server "{{ inventory_hostname }}":"{{ port }}" weight=1;
  server "{{ inventory_hostname }}":{{ port }} weight=1;
}

server {
    location / {
        proxy_pass http://my-app;
    }
}
